# Author: Oliver Martin Grooby (16605155)
# This Jinja file configures a basic VPC Network
# for the use of this project.

resources:
- name: {{env["name"]}}
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false